* {
  margin: 0px;
  padding: 0px;
}

body {
  display: block;
}

div {
  display: block;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.background {
  flex-wrap: wrap;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(26, 24, 27, 1) 0%,
    rgba(0, 116, 112, 1) 100%
  );
}

.image {
  background-image: url("images/code-image.jpg");
  height: 400px;
  width: 100%;
}

.container {
  display: flex;
  margin: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1000%;
  height: 100%;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.blur {
  display: inline-block;
  padding: 20px 80px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  line-height: 1;
  backdrop-filter: blur(10px);
}

.nombre {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #eee;
}

.profesion {
  color: white;
}

.info {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -70px;
}

.pictureContainer {
  width: 180px;
  height: 180px;
}

.me {
  width: 100%;
  height: 100%;
  border-radius: 15%;
}

.presentation {
  margin-top: 20px;
  width: 60%;
  text-align: center;
  word-wrap: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saludo {
  font-family: cursive;
  font-weight: bold;
  font-size: 35px;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000,
    1px -1px 1px #000;
  -webkit-text-fill-color: #cfb5a0;
}

.texto {
  padding-top: 10px;
  font-family: cursive;
  font-size: 20px;
}

.boxes {
}

.proyects {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.clearfix {
  clear: both;
}

footer {
  color: #eee;
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
}

/* PROYECT CONTAINER CCS */

.proyectBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  flex: 1 0 44%;
}

.proyectDescription {
  display: flex;
  flex-direction: column;
}

/* Desktop */

.desktop {
  width: 95%;
}

.movile {
  width: 50%;
  margin-left: 20px;
}

/* Buttons */

.buttonWhite {
  background-color: transparent;
  border-radius: 42px;
  border: 3px solid #f0f6fc;
  display: inline-block;
  cursor: pointer;
  color: #f0f6fc;
  font-family: Arial;
  font-size: 17px;
  padding: 5px 5px;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
}
.buttonWhite:hover {
  background-color: transparent;
}
.buttonWhite:active {
  position: relative;
  top: 1px;
}
